@using BrosMed_Insurance.Models.Reservation
@using Microsoft.AspNetCore.Identity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Wizyty";
    var userManager = ViewBag.UserManager as UserManager<User>;
    var allVisits = ViewBag.AllVisits as List<Finalizacja>;
}
<h1>Wizyty</h1>

<form asp-controller="Reservation" asp-action="CheckVisits" method="post">
    <div class="form-group">
        <table class="form-control">
            <thead>
                <tr>
                    <th>Id</th>                  
                    <th>Imie</th>
                    <th>Nazwisko</th>                   
                    <th>Numer telefonu</th>                   
                    <th>Godzina</th>                   
                    <th>Usluga</th>                   
                    <th>Cena</th>                   
                </tr>
            </thead>
            @foreach (var visit in allVisits)
            {
                var user = await userManager.FindByIdAsync(visit.UserId);
                
                <tr>
                    <td>@visit.FinalizacjaId</td>
                    <td>                       
                        @user.name
                    </td>
                    <td>
                        @user.surname
                    </td>
                    <td>
                        @user.PhoneNumber
                    </td>
                   
                    <td>
                        @visit.Terminy.Godzina.godzinaVM
                    </td>
                    <td>
                        @visit.Terminy.Usluga.Nazwa
                    </td>
                    <td>
                        @visit.Terminy.Usluga.Cena
                    </td>
                </tr>
            }
        </table>
    </div>
</form>
