@using BrosMed_Insurance.Models.Reservation

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BrosMed_Insurance.Models.User
@{
    ViewData["Title"] = "Klient"; 
    var allVisits = ViewBag.AllVisits as List<UserVisitHistory>;
}
<h1>Informacje o kliencie</h1>

@if (Model is null)
{
    <p>Użytkownik nie istnieje</p>
}else{
    <div class="form-group">
        <table class="form-control">
            <thead>
                <tr>
                    <th>Imie</th>
                    <th>Nazwisko</th>
                    <th>Numer telefonu</th>
                    <th>Adres</th>
                    <th>Pesel</th>
                    <th>email</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    @Model.name
                </td>
                <td>
                    @Model.surname
                </td>
                <td>
                    @Model.PhoneNumber
                </td>

                <td>
                    @Model.address
                </td>
                <td>
                    @Model.pesel
                </td>
                <td>
                    @Model.Email
                </td>
            </tr>
            </tbody>
        </table>
        <h2>Historia wizyt</h2>
        <table>
            <tbody>
        @foreach (var visit in allVisits)
        {
            <tr>
                <td>
                    @visit.Terminy.Data
                </td>
                <td>
                    @visit.Terminy.Godzina.godzinaVM
                </td>
                <td>
                    @visit.Terminy.Usluga.Nazwa
                </td>
                <td>
                    @visit.Terminy.Usluga.Cena
                </td>
                <td>
                            <a class="btn btn-primary" asp-controller="Reservation" asp-action="MoreInfo" asp-route-userId="@visit.UserId">Więcej o kliencie</a>
                </td>
            </tr>
        }
            </tbody>
        </table>
    </div>
    }
